<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.open">

    <application>
        <activity android:name=".activity.BackgroundActivity$LottieActivity"></activity>
        <activity android:name=".OpenSourceActivity" />
        <activity android:name=".activity.MMKVActivity" />
        <activity android:name=".activity.GreenDaoActivity" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.EventBusActivity" />
        <activity android:name=".activity.LiveEventBusActivity" />
        <activity android:name=".activity.SmartEventBusActivity" />
        <activity android:name=".activity.BackgroundActivity" />
        <activity android:name=".activity.BadgeViewActivity" />
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.CityPickerActivity" />
        <activity android:name=".activity.CountdownActivity" />
        <activity android:name=".activity.FloatWindowActivity" />
        <activity android:name=".activity.FlycoTabLayoutActivity" />
        <activity android:name=".activity.GSYPlayerActivity" />
        <activity android:name=".activity.ImageSelectorActivity" />
        <activity android:name=".activity.ImmersionBarActivity" />
        <activity android:name=".activity.LottieActivity" />
        <activity android:name=".activity.PhotoViewActivity" />
        <activity android:name=".activity.PickerViewActivity" />
        <activity android:name=".activity.PopWindowActivity" />
        <activity android:name=".activity.SmartRefreshActivity" />
        <activity android:name=".activity.SVGAPlayerActivity" />
        <activity android:name=".activity.SwipeLayoutActivity" />
        <activity android:name=".activity.SwipeToLoadActivity" />
        <activity android:name=".activity.TangramActivity" />
        <activity android:name=".activity.X5Activity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>