<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.demo">

    <application>
        <activity android:name=".DemoActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.AppBarActivity" />
        <activity android:name=".activity.AsyncTaskActivity" />
        <activity android:name=".activity.AudioPlayerActivity" />
        <activity android:name=".activity.BroadcastActivity" />
        <activity android:name=".activity.FloatWindowActivity" />
        <activity android:name=".activity.ImageDecoderActivity" />
        <activity android:name=".activity.JobActivity" />
        <activity android:name=".activity.OptionalBeanActivity" />
        <activity android:name=".activity.MessengerActivity" />
        <activity android:name=".activity.NetworkStatusActivity" />
        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.PicCropActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.TransitionFirstActivity" />
        <activity android:name=".activity.TransitionSecondActivity" />
        <activity android:name=".activity.HandlerThreadActivity" />
        <activity
            android:name=".activity.TransparentActivity"
            android:theme="@style/Basics_TranslucentTheme" />
        <activity android:name=".activity.TurntableActivity" />
        <activity android:name=".activity.TypefaceActivity" />
        <activity android:name=".activity.HookActivity" />
        <activity android:name=".activity.TouchEventActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.FlexBoxActivity" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.FragmentGroupActivity" />
        <activity android:name=".activity.FragmentTabHostActivity" />
        <activity android:name=".activity.FragmentViewPagerActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.RecyclerViewNestedActivity" />
        <activity android:name=".activity.ViewFlipperActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.ViewPager2Activity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.BlurViewActivity" />
        <activity android:name=".activity.IosDialogActivity" />
        <activity android:name=".activity.MarqueeViewActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.TitleBarActivity" />

        <service android:name=".service.AIDLService" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.MessageService" />
        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.MyIntentService" />
    </application>

</manifest>