<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.demo">

    <application>
        <activity
            android:name=".activity.sample.SAFActivity"
            android:exported="false" />
        <activity android:name=".activity.widget.ShapeableActivity" />
        <activity android:name=".activity.other.DispatchActivity" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".activity.sample.AnimatorActivity" />
        <activity android:name=".activity.widget.AppBarActivity" />
        <activity android:name=".activity.sample.AsyncTaskActivity" />
        <activity android:name=".activity.other.AudioPlayerActivity" />
        <activity android:name=".activity.sample.BroadcastActivity" />
        <activity android:name=".activity.sample.FloatWindowActivity" />
        <activity android:name=".activity.other.ImageDecoderActivity" />
        <activity android:name=".activity.sample.JobActivity" />
        <activity android:name=".activity.other.OptionalBeanActivity" />
        <activity android:name=".activity.sample.MessengerActivity" />
        <activity android:name=".activity.other.NetworkStatusActivity" />
        <activity android:name=".activity.sample.PermissionActivity" />
        <activity android:name=".activity.sample.PicCropActivity" />
        <activity android:name=".activity.sample.ServiceActivity" />
        <activity android:name=".activity.sample.TransitionFirstActivity" />
        <activity android:name=".activity.sample.TransitionSecondActivity" />
        <activity android:name=".activity.sample.HandlerThreadActivity" />
        <activity
            android:name=".activity.sample.TransparentActivity"
            android:theme="@style/Basics_TranslucentTheme" />
        <activity android:name=".activity.sample.TurntableActivity" />
        <activity android:name=".activity.sample.TypefaceActivity" />
        <activity android:name=".activity.sample.HookActivity" />
        <activity android:name=".activity.widget.DialogActivity" />
        <activity android:name=".activity.widget.FlexBoxActivity" />
        <activity android:name=".activity.widget.FragmentActivity" />
        <activity android:name=".activity.widget.FragmentGroupActivity" />
        <activity android:name=".activity.widget.FragmentTabHostActivity" />
        <activity android:name=".activity.widget.FragmentViewPagerActivity" />
        <activity android:name=".activity.widget.NotificationActivity" />
        <activity android:name=".activity.widget.RecyclerViewActivity" />
        <activity android:name=".activity.widget.RecyclerViewNestedActivity" />
        <activity android:name=".activity.widget.ViewFlipperActivity" />
        <activity android:name=".activity.widget.ViewPagerActivity" />
        <activity android:name=".activity.widget.ViewPager2Activity" />
        <activity android:name=".activity.widget.WebViewActivity" />
        <activity android:name=".activity.custom.BlurViewActivity" />
        <activity android:name=".activity.custom.IosDialogActivity" />
        <activity android:name=".activity.custom.MarqueeViewActivity" />
        <activity android:name=".activity.custom.SpinnerActivity" />
        <activity android:name=".activity.custom.TitleBarActivity" />

        <service android:name=".service.AIDLService" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.MessageService" />
        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.MyIntentService" />
    </application>

</manifest>