<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.sample">

    <application>
        <activity android:name=".SampleActivity" />
        <activity android:name=".activity.MvpActivity" />
        <activity android:name=".activity.MvvmActivity" />
        <activity android:name=".activity.KtBindActivity" />
        <activity android:name=".activity.KtActivity" />
        <activity android:name=".activity.RecyclerActivity" />
    </application>

</manifest>