<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.sample">

    <application>
        <activity android:name=".SampleActivity" />
        <activity android:name=".activity.BindActivity" />
        <activity android:name=".activity.LiveDataActivity" />
        <activity android:name=".activity.WorkManagerActivity" />
        <activity android:name=".activity.NavigationActivity" />
        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".KotlinActivity" />
        <activity android:name=".activity.CoilActivity" />
        <activity android:name=".activity.SuspendActivity" />
        <activity android:name=".activity.FlowActivity" />
        <activity android:name=".activity.PagingActivity" />
        <activity android:name=".activity.DataStoreActivity" />
        <activity android:name=".activity.ResultActivity" />
        <activity android:name=".activity.ResultSecondActivity" />
        <activity android:name=".activity.MvpActivity" />
        <activity android:name=".activity.MvvmActivity" />
        <activity android:name=".activity.DataBindActivity" />
    </application>

</manifest>