<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.sample">

    <application>

        <activity android:name=".SampleActivity" />
        <activity android:name=".activity.widget.AnimatorActivity" />
        <activity android:name=".activity.widget.AppBarActivity" />
        <activity android:name=".activity.widget.BehaviorActivity" />
        <activity android:name=".activity.widget.DialogActivity" />
        <activity android:name=".activity.widget.FlexBoxActivity" />
        <activity android:name=".activity.widget.FloatWindowActivity" />
        <activity android:name=".activity.widget.FragmentActivity" />
        <activity android:name=".activity.widget.FragmentGroupActivity" />
        <activity android:name=".activity.widget.FragmentTabHostActivity" />
        <activity android:name=".activity.widget.FragmentViewPagerActivity" />
        <activity android:name=".activity.widget.NotificationActivity" />
        <activity android:name=".activity.widget.RecyclerViewActivity" />
        <activity android:name=".activity.widget.RecyclerViewActivity2" />
        <activity android:name=".activity.widget.ViewFlipperActivity" />
        <activity android:name=".activity.widget.ViewPagerActivity" />
        <activity android:name=".activity.widget.ViewPager2Activity" />
        <activity android:name=".activity.widget.WebViewActivity" />
        <activity android:name=".activity.function.AsyncTaskActivity" />
        <activity android:name=".activity.function.AudioPlayerActivity" />
        <activity android:name=".activity.function.BroadcastActivity" />
        <activity android:name=".activity.function.JobSchedulerActivity" />
        <activity android:name=".activity.function.MessengerActivity" />
        <activity android:name=".activity.function.PermissionActivity" />
        <activity android:name=".activity.function.PicCropActivity" />
        <activity android:name=".activity.function.ServiceActivity" />
        <activity android:name=".activity.function.TransitionFirstActivity" />
        <activity android:name=".activity.function.TransitionSecondActivity" />
        <activity android:name=".activity.function.TurntableActivity" />
        <activity android:name=".activity.function.TypefaceActivity" />
        <activity android:name=".activity.function.NetworkStatusActivity" />
        <activity android:name=".activity.function.OptionalBeanActivity" />

        <service android:name=".service.AIDLService" />
        <service android:name=".service.ForegroundService" />
        <service android:name=".service.MessageService" />
        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>