<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.custom">

    <application>
        <activity android:name=".activity.InfiniteImageActivity" />
        <activity android:name=".CustomViewActivity" />
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.BlurViewActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.GestureLockActivity" />
        <activity android:name=".activity.IosDialogActivity" />
        <activity android:name=".activity.MarqueeViewActivity" />
        <activity android:name=".activity.ScrollPageActivity" />
        <activity android:name=".activity.VerifyCodeActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.TitleBarActivity" />
    </application>

</manifest>