<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.william.my.module.demo">

    <application
        android:name=".app.DemoApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/demo_app_name"
        android:theme="@style/basics_AppTheme">
        <activity android:name=".activity.DemoMvpActivity" />
        <activity android:name=".activity.DemoMvvmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>